<html>
<head>
<title>Wood Shop</title>
<link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" /> 
<center>
<img src="/img/sandwich shop 4.jpg" alt="sandwich shop" width="299" height="168">
<br>
<h1 style= "color: black; font-size: 250%:"> <b><i> Have a Blessed Day!</i></b> </h1>
<h1 style= "color: red; font-size: 200%;"> <b><i> Thank you for your order!</i></b> </h1>
<h2 style= "color: brown; font-size: 150%;"> <b><i> Please come again soon!</i></b> </h2>

</center>
</head>
</html>
