<ul>

	<li>roast beef</li>
	<li>turkey</li>
	<li>pramigiana sub</li>
	<li>cheese steak plain</li>
	<li>cheese steak works</li>
	<li>veggie sub</li>
	<li>fried chicken sub</li>
	<li>grilled checken sub</li>
	<li>grilled chicken works</li>
	<li>mexican steak</li>
	<li>pizza steak</li>
	<li>pizza sub</li>
	<li>italian sub</li>
	<li>super sub</li>
	
</ul>