<script src= "/js/getdate.js"> 
</script>
<p> This is the date the page loads </p>
<p id="date"> </p>
<html>
<head>
<title>Sandwich Shop</title>
<link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" /> 
<body>
<br>
<center> 
<img src="/img/sandwich shop 4.jpg" alt="sandwich shop" width="299" height="168">
<h1 style= "color: black; font-size: 250%;"> <b><i> HELLO!!!</i></b> </h1>
<h1 style= "color: red; font-size: 200%;"> <b><i> Welcome to my Sandwich Shop!</i></b></h1>
<h2 style= "color: brown; font-size: 150%;"> <b> What kind of Sandwhich would you like?</b> </h2>
<form method="post" action="sandwich_choice">
    <input type="text"  name="sandwich">
    <br>
    <br>
    <input type="submit">
    <br>
    <br>
<ul style="list-style-type:none;">
	<li>Roast Beef</li>
	<li>Turkey</li>
	<li>Pramigiana Sub</li>
	<li>Cheese Steak Plain</li>
	<li>Cheese Steak Works</li>
	<li>Veggie Sub</li>
	<li>Fried Chicken Sub</li>
	<li>Grilled Checken Sub</li>
	<li>Grilled Chicken Works</li>
	<li>Mexican Steak</li>
	<li>Pizza Steak</li>
	<li>Pizza Sub</li>
	<li>Italian Sub</li>
	<li>Super Sub</li>
</ul> 
</form>
</center>
</body>
</head>
</html>

<script>
	window.onload=getOrderDate('date');
</script>