<center>
<b> Hello</b>
<br>
<img scr="image/picture.jpg" alt= "store menu">
Welcome to Sandwich Shop Supreme!
What kind of sandwich would you like?
<form method="post" action="sandwich_choice">
    <input type="text"  name="sandwich">
    <br>
    <br>
    <input type="submit">
</form>
</center>
</body>

