<center>
<h1 style= "font-size: 200%"> Welcome to my Sandwich Shop! </h1>
<h2 style= "font-size: 150%">Your sandwich type was <%= sandwich %>
<br>
<h3 style= "font-size: 200%"> What kind of Sandwhich would you like?</h2>
<h4 style= "font-size: 150%"> Thank you for your order
</center>