<html>
<head>

<title>Wood turning</title>

</head>
<body style= "background-color: lightblue;">
<center>
<h1 style="font-size:200%;">Appalachian Wood Pens and Accessories</h1>
<h2 style= "text-align:center;">Great!!! Anytime Gifts</h2>

<p style="color:brown;"> Each Wood Pen, Pepper Grinder, and Key Chain are made from West Virginia woods. They are cut from wood blanks hand turned, sanded, polished and asambled.</p>
<img alt="Wood Pen" src="http://www.getalifemedia.com/mobile/wp-content/uploads/2017/12/wood_lathe.png" width= "400" height= "400" /> 
<address style="color:red;">
	Chris Phillips
	150 Charles Street
	Ronceverte, WV 24970
	(304)-524-7927
	USA
</address>
</center>
</body>
</html>